NUXT_PUBLIC_APP_MAINTENANCE=""

NUXT_PUBLIC_SOCIAL_FACEBOOK=""
NUXT_PUBLIC_SOCIAL_INSTAGRAM=""

DATABASE_URL=""

NUXT_MAIL_HOST=""
NUXT_MAIL_PORT="587"
NUXT_MAIL_SECURE="false"
NUXT_MAIL_USER=""
NUXT_MAIL_PASS=""
NUXT_MAIL_FROM_NAME=""
NUXT_MAIL_FROM_ADDRESS=""
NUXT_MAIL_REPLY_TO=""

NUXT_PUBLIC_TEASER_URL=""
